* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(82, 14, 172),
    rgb(255, 6, 180));
    /* background-color: rgb(94, 103, 133); */
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.aparelhos {
    display: flex;
    justify-content: center;
    row-gap: 1px;
}

/* ///////// */
/* Tela 01 */
.aparelho {
    overflow: hidden;
    margin-top: 20px;
    width: 400px;
    height: 820px;
    background-color: #121423;
    border-radius: 45px;
}

/* Ícones no topo */
.top-icons {
    top: 15px;
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    width: 320px;
    height: 22px;
}
.wifi {
    position: absolute;
    width: 26px;
}
.dados {
    position: absolute;
    width: 20px;
    margin-left: 35px;
}
.bluet {
    position: absolute;
    width: 18px;
    margin-left: 70px;
}
.hora {
    position: absolute;
    margin-left: 220px;
    color: white;
    
    font-size: 18px;
}
.bateria {
    position: absolute;
    margin-top: 3px;
    width: 30px;
    margin-left: 280px;
}

/* Ícones Meio */
.tela1 {
    position: relative;
    margin-top: 25px;
    width: 370px;
    height: 650px;
    border: 1px solid rgb(235, 2, 235);

}

.saudacao {
    
    position: relative;
    width: 370;
    height: 100px;
    padding: 10px;
    border: 1px solid coral;
}
.data {
    color: #6C7496;
    font-size: 14px;
}
.voce {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
.foto-inicio {
    width: 70px;
    height: 70px;
    border: 1px solid red;
}

/* Ícones abaixo */
.bot-area {
    
    margin-top: 12px;
    width: 400px;
    height: 110px;
    background-color: #142450;
}

.bot-icones {
    display: flex;
    position: relative;
    height: 110px;
    width: 370px;
    /* border: 1px solid rgb(103, 252, 4); */
}

.botIcon { 
    
}

.traco-home {
    z-index: 99;
    width: 40px;
    height: 4px;
    background-color: #d000fc;
    box-shadow: 1px 1px 10px 1px #d000fc;
}
.icone-home {
    width: 50px;
    height: 110px;
    /* border: 1px solid rgb(127, 168, 255); */
    background-image: url(./images/iconeHome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.icone-carteira {
    width: 50px;
    height: 110px;
    /* border: 1px solid rgb(127, 168, 255); */
    background-image: url(./images/iconeCarteiraCinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.icone-rend {
    width: 50px;
    height: 110px;
    /* border: 1px solid rgb(127, 168, 255); */
    background-image: url(./images/iconeRendimentoCinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.icone-perfil {
    width: 50px;
    height: 110px;
    /* border: 1px solid rgb(127, 168, 255); */
    background-image: url(./images/iconePerfilCinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/* ///////// */
/* Tela 02 */
.aparelho2 {
    overflow: hidden;
    margin-top: 20px;
    width: 400px;
    height: 820px;
    background-color: rgb(21, 21, 22);
    border-radius: 45px;
}

.tela2 {
    position: relative;
    margin-top: 25px;
    width: 370px;
    height: 650px;
    border: 1px solid orangered;

}