* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(82, 14, 172),
    rgb(255, 6, 180));
    /* background-color: rgb(94, 103, 133); */
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.aparelhos {
    display: flex;
    justify-content: center;
    row-gap: 1px;
}

/* ///////// */
/* Tela 01 */
.aparelho {
    margin-top: 20px;
    width: 400px;
    height: 820px;
    background-color: black;
    border-radius: 45px;
}

/* Ícones no topo */
.top-icons {
    top: 15px;
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    width: 320px;
    height: 50px;
}
.wifi {
    position: absolute;
    width: 26px;
}
.dados {
    position: absolute;
    width: 20px;
    margin-left: 35px;
}
.bluet {
    position: absolute;
    width: 18px;
    margin-left: 70px;
}
.hora {
    position: absolute;
    margin-left: 220px;
    color: white;
    
    font-size: 18px;
}
.bateria {
    position: absolute;
    margin-top: 3px;
    width: 30px;
    margin-left: 280px;
}


/* ///////// */
/* Tela 02 */
.aparelho2 {
    margin-top: 20px;
    width: 400px;
    height: 820px;
    background-color: black;
    border-radius: 45px;
}